<div class="card">
    <div class="card-body">
        <h5 class="titulo">Listar Tarjetas</h5>
        <table class="table">
            <tbody>
                <tr>
                    <td>Juan Camilo Villacob</td>
                    <td>1234456879844687</td>
                    <td>01/25</td>
                    <td>
                        <i class="fa-regular fa-pen-to-square text-info"></i>
                        <i class="fa-regular fa-trash-can text-danger"></i>
                    </td>
                </tr>
                <tr>
                    <td>Juan Camilo Zarante</td>
                    <td>1234456879844687</td>
                    <td>01/25</td>
                    <td>
                        <i class="fa-regular fa-pen-to-square text-info"></i>
                        <i class="fa-regular fa-trash-can text-danger"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>